<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98214352770-cfdk6n7l8sp1ebe21actbb93ko1p06h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98214352770-cfdk6n7l8sp1ebe21actbb93ko1p06h9</string>
	<key>API_KEY</key>
	<string>AIzaSyD83QxLaClyqfxzLSKkxdwZTtVKJOR1x2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>98214352770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>i.SocialFitnessIosApp</string>
	<key>PROJECT_ID</key>
	<string>socialfitnessiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>socialfitnessiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98214352770:ios:c2061691b7da1f8d8ba19b</string>
</dict>
</plist>